.message-box {
    color: white;
    background-color: var(--primary-color);
    opacity: 0.7;
    height: 50px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    border-radius: 4px;
    margin-block: 20px;
    border: 1px  solid var(--secondary-color);
}
