.resume-steps .step-title-container h5{
    background: var(--primary-color);
    color: #fff;
}
.resume-steps .steps{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}
.resume-steps .resume-steps-container  .steps .step{
    position: relative;
}
.resume-steps .resume-steps-container  .steps .step .step-title-container{
    position: absolute;
    left: 0;
}
.resume-steps .step span {
    position: absolute;
    top: 14px;
    left: 40px;
    width: 100%;
    height: 2px;
    background: #cecece;
    z-index: -1;
}
.resume-steps .active-step .step-title-container h5{
    color: white;
    background: var(--primary-color);
}
.resume-steps .active-step span{
    background: var(--primary-color);
}
.resume-steps .resume-steps-container  .steps .step .filled{
    background-color: var(--primary-color);
}
.resume-steps .resume-steps-container  .steps .step .empty{
    background-color: var(--primary-color);
}
.resume-steps .step h5{
    font-size: 14px;
    border: 1px solid var(--primary-color);
    width: 25px;
    height: 25px;
    background-color: white;
    line-height: 25px;
    text-align: center;
    border-radius: 100px;
    display: inline-block;
    color:var(--primary-color);
    margin-bottom: 8px;
}


.resume-steps .step p{
    font-size: 14px;
    color: var(--darker-secondary-color);
}
