/* Education.css */

.header {
  padding-bottom: 5px;
  font-size: large;
  font-weight: bold;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid var(--secondery-color);
  border-radius: 8px;
  position: relative;
  margin-bottom: 10px;
}

.institution-name {
  font-size: large;
  font-weight: bold;
}

.label {
  font-weight: bold;
  font-size: medium;
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.top-right-icons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
}
.top-right-icons{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px 20px;
  justify-content: end;
}
.top-right-icons .minus-icon {
  cursor: pointer;
  color: red;
  top: 10px;
  right: 10px;
}
.top-right-icons .eye-icon {
  cursor: pointer;
  color: var(--primary-color);
}
.add-education {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color); /* Background color */
  color: #FFFFFF; /* Text color */
}

.add-education-text {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF; /* Text color */
}

.add-button {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  line-height: 30px;
}

.add-button:hover {
  background-color: #3498db57;
  color: #1c5e8a;
}
.no-educations{

  padding-block: 10px;
  font-size: large;
  font-weight: bold;
}