/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle color on hover */
}
