/* AddLanguage.css */

.add-language-container {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .add-language-heading {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .add-language-input-container {
    position: relative;
  }
  
  .add-language-label {
    font-weight: bold;
    font-size: 17px;
  }
  
  .add-language-input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--secondery-color);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none; 
  }
  
  .suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    width:  98%;
    min-height: 40px;
    background-color: #ffffff;
    border: 1px solid var(--secondery-color);
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 1;
  }
  
  .suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions-list li {
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  
  .suggested-languages {
    margin-top: 20px;
  }
  
  .suggested-heading {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .suggested-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggested-list li {
    display: inline-block;
    background-color: #f0f0f091;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .suggested-list li:hover {
    background-color: #f0f0f0;
  }
  
  .language-error {
    color: red;
    font-size: 17px;
    padding-top: 5px;
  }
  