/* Language.css */
.languages-content {
  margin-top: 20px;
}

.qualifications-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.qualifications-header h3 {
  margin-left: 10px;
}

.language-item {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(50px, 1fr);
  margin-bottom: 10px;
}

.language-item:last-child {
  margin-bottom: 0;
}

.language-name {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: fit-content;
  font-weight: bold;
  font-size: 16px;
}

.remove-language {
  margin-top: -20px;
  padding-right: 10px;
  cursor: pointer;
  color: #FF5733;
  margin-left: 10px;
}

.language-actions {
  display: flex;
  justify-content: flex-end;
}

.add-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3498DB;
}

.add-language p {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

.add-language button {
  font-weight: bold;
  font-size: 24px;
  color: #3498DB;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  line-height: 30px;
}

.add-language button:hover {
  background-color: #3498db57;
  color: #1c5e8a;
}

.no-languages {
  padding-block: 10px;
  font-size: large;
  font-weight: bold;
}
