/* General styles for all form containers */
.add-project-container,
.add-certificate-container,
.add-publication-container,
.default-container {
    width: 400px;
}

/* General label styles */
.add-project-container label,
.add-certificate-container label,
.add-publication-container label,
.default-container label {
    font-size: 1rem;
    font-weight: 600;
}

/* General input styles */
.add-project-container input,
.add-certificate-container input,
.add-publication-container input,
.default-container input,
.add-project-container textarea,
.add-certificate-container textarea,
.add-publication-container textarea,
.default-container textarea {
    border-radius: 5px;
    padding: 10px 12px; /* Combined padding properties for brevity */
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

/* Hover and focus styles for inputs and textareas */
.add-project-container input:hover,
.add-certificate-container input:hover,
.add-publication-container input:hover,
.default-container input:hover,
.add-project-container textarea:hover,
.add-certificate-container textarea:hover,
.add-publication-container textarea:hover,
.default-container textarea:hover,
.add-project-container input:focus,
.add-certificate-container input:focus,
.add-publication-container input:focus,
.default-container input:focus,
.add-project-container textarea:focus,
.add-certificate-container textarea:focus,
.add-publication-container textarea:focus,
.default-container textarea:focus {
    border-color: var(--primary-color);
}

/* Date input field styles */
.add-project-container input[type='date'],
.add-certificate-container input[type='date'],
.add-publication-container input[type='date'] {
    border-radius: 5px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

/* Flexbox layout for date inputs */
.add-project-container .form-group,
.add-certificate-container .form-group,
.add-publication-container .form-group,
.default-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Margin for better spacing */
}

/* Flexbox layout for working present checkbox */
.form-check {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    margin-top: 10px;
}
.form-check div {
    display: flex;
    gap: 0px 10px;
}
/* Additional styles for textarea */
.add-project-container textarea,
.add-certificate-container textarea,
.add-publication-container textarea,
.default-container textarea {
    resize: vertical;
    height: 100px; /* Default height for textareas */
    outline: none;
}
