/* General styles */
.add-project-container label,
.add-certificate-container label,
.add-publication-container label,
.default-container label {
    font-size: 1rem;
    font-weight: 600;
}
.add-project-container input {

    outline: none;
}
.add-project-container,
.project-date,
.project-end-date,
.project-working-present,
.add-certificate-container ,
.add-publication-container,
.default-container{
    width: 400px;
}
/* Project styles */
.add-project-container .project-date,
.add-certificate-container .certificate-date,
.add-publication-container .publication-date {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Added gap between date inputs */
}

.add-project-container .project-title,
.add-certificate-container .certificate-title,
.add-publication-container .publication-title,
.add-publication-container .publication-journal,
.default-container .default-title,
.default-container .default-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Added margin for better spacing */
}

.add-project-container .project-date div,
.add-certificate-container .certificate-date,
.add-publication-container .publication-date {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Added margin for better spacing */
}

.project-working-present,
.certificate-working-present,
.publication-working-present {
    display: flex !important;
    gap: 0px 10px;
    flex-direction: row !important;
}

.add-project-container .project-description,
.add-certificate-container .certificate-description,
.add-publication-container .publication-abstract {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Added margin for better spacing */
}

.add-project-container .project-description label,
.add-certificate-container .certificate-description label,
.add-publication-container .publication-abstract label,
.default-container .default-description label {
    display: block;
}

/* Input field styles */
.add-project-container input[type='text'],
.add-project-container textarea,
.add-certificate-container input[type='text'],
.add-certificate-container textarea,
.add-publication-container input[type='text'],
.add-publication-container textarea,
.default-container input[type='text'],
.default-container textarea {
    border-radius: 5px;
    padding-top: 10px; /* Increased padding for better aesthetics */
    padding-bottom: 10px; /* Increased padding for better aesthetics */
    padding-left: 12px; /* Increased padding for better aesthetics */
    padding-right: 12px; /* Increased padding for better aesthetics */
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%; /* Make the inputs and textareas take full width of the parent */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    outline:none;
}
/* Input field styles */
.add-project-container input:hover,
.add-project-container textarea:hover,
.add-certificate-container input:hover ,
.add-certificate-container textarea:hover,
.add-publication-container input:hover ,
.add-publication-container textarea:hover,
.default-container input:hover ,
.default-container textarea:hover {
border-color: var(--primary-color);
}
/* Input field styles */
.add-project-container input:focus,
.add-project-container textarea:focus,
.add-certificate-container input:focus ,
.add-certificate-container textarea:focus,
.add-publication-container input:focus ,
.add-publication-container textarea:focus,
.default-container input:focus ,
.default-container textarea:focus {
border-color: var(--primary-color);
}


/* Date input field styles */
.add-project-container input[type='date'],
.add-certificate-container input[type='date'],
.add-publication-container input[type='date'] {
    border-radius: 5px;
    padding-top: 10px; /* Increased padding for better aesthetics */
    padding-bottom: 10px; /* Increased padding for better aesthetics */
    padding-left: 12px; /* Increased padding for better aesthetics */
    padding-right: 12px; /* Increased padding for better aesthetics */
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%; /* Make the inputs take full width of the parent */
    outline: none;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.add-project-container .project-start-date,
.add-project-container .project-end-date,
.add-certificate-container .certificate-date,
.add-publication-container .publication-date {
    margin-bottom: 15px; /* Added margin for better spacing */
}

/* Additional textarea styles for consistency */
.add-project-container textarea,
.add-certificate-container textarea,
.add-publication-container textarea,
.default-container textarea {
    resize: vertical;
    height: 100px; /* Default height for textareas */
    outline: none;
}
