@import "global";

.add-more {
  &__container {
    width: 400px;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 1rem;
    font-weight: 600;
  }

  &__input,
  &__textarea {
    border-radius: 5px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;

    &:hover,
    &:focus {
      border-color: var(--primary-color);
    }
  }

  &__input--date {
    @extend .add-more__input;
  }

  &__textarea {
    resize: vertical;
    height: 100px;
  }

  &__form-check {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 10px;

    &-inner {
      display: flex;
      gap: 0 10px;
    }
  }
}