// ResumeContainer.scss

.resume-container {
  padding: 50px 0;

  &__content {
    padding: 30px;
    margin: 50px 0;
  }

  &__form {
    &--hidden {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__save-button {
    background: var(--primary-color);
    color: #ffffff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}