//COLORS
$color-primary: #007BFF;
$color-primary-light-1: #3498DB;
$color-primary-light-2: #3694d3;
$color-grey-light-1 : #cccccc;
$color-grey-light-2 :  rgb(216, 216, 216);

$color-grey-dark-1 : #616161;
$color-grey-dark-2 : #616161;


$color-white : #fff;

$color-black : black;