@import "global";

.resume-footer {
  width: 100%; 
  padding: 20px 0;
  border-top: 1px solid $color-grey-light-2;

//   &__container {
//     // Add any container-specific styles if needed
//   }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-list {
      display: flex;
      gap: 20px;

      &-item {
        list-style: none;
      }

      &-text {
        color: $color-grey-dark-1;
        font-size: 15px;
      }

      &-link {
        text-decoration: none;
        color: $color-primary-light-2;
        font-size: 15px;
        transition: .1s;

        &:hover {
          color: $color-black;
        }
      }
    }
  }
}