/* SkillRating.css */

/* Styles for the skill rating container */
.skill-rating {
    font-size: 24px;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    margin-right: 40px;
    margin-bottom: 10px;
}
  
.skill-rating .title {
    font-size: 17px !important;
    font-weight: bold;
    color: #333;
}
  
/* Styles for the stars */
.star-filled{
    fill: gold !important;
}
.star-filled,
.star-empty {
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Style for flipping the second half star */
.second-half-star {
    transform: scaleX(-1);
}

/* Style for the star images */
.skill-star  {
   cursor: pointer;
   
}
