/* SkillProperties.css */

/* Styles for the outer container */
.skill-properties-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 
  /* Styles for the legend title */
  .legend-title .title{
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Styles for the help block */
  .help-block {
    color: red;
    font-size: 14px;
  }
  .skillLearnFrom-checkbox{
    margin-right: 3px;
  }

  /* Styles for the checkboxes */
  .checkbox-inline {
    margin-right: 15px;
    color: #333;
    user-select: none; /* Prevent text selection */
  }
  
  /* Styles for the select dropdown */
  .form-control {
    width: 200px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Styles for the NTVQF level select dropdown */
  .level.hide {
    display: none;
  }
  