/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}


.container{
  max-width: 1368px;
  margin: 0 auto;
}

.section-header{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.section-header h2 {
  color: #061421;
  font-weight: bold;
  font-size: 25px;

}
.section-header p {
  width: 40%;
  margin: 0 auto;
  color: #2f2f2fd6;
  margin-top: 10px;
}
.section-header::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 45%;
  width: 10%;
  height: 5px;
  border-radius: 50px;
  background-color: #3498dbb8;
}



.verify-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 600px;
}

.icon-container {
  margin-bottom: 20px;
}

.heading {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.message,
.info {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.info {
  color: #666;
}

.primary-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

