/* .resume-templates{} */
.heading-info 
{
    &__title {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: larger;
        /* color: var(--darker-secondary-color); */
    }
    &__span{
        color: var(--primary-color);
    }

}


// .resume-templates {
    
// }

.template-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__element{
        text-align: center;
        cursor: pointer;
        border: none;
        outline: none;
        
    }
    &__element-img {
        width: 300px;
        height: 400px;
        margin-bottom: 15px;
        border: 3px solid rgb(230, 230, 230);
        transition: .1 ease-in-out;

        &:hover{
            border: 3px solid var(--primary-color);
        }
        &--selected{
            border: 3px solid var(--primary-color);
        }
    
    }
    &__element-name{
        color: var(--darker-secondary-color);
    }
}

 