.user-home {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .user-home-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 25px;
  }
  
  .user-home-content h4 {
    margin-bottom: 15px;
    color: var(--darker-secondary-color);
    font-size: 18px;
    font-weight: 400;
  }
  
  .user-home-content .user-home-jobs div {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px !important;
  }
  
  .featured-jobs-more {
    text-align: center;
    margin-top: 50px;
  }
  
  .featured-jobs-more a button {
    font-weight: bold;
    width: 180px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
  }
  
  .featured-jobs-more a button:hover {
    background: var(--primary-color);
    color: #fff;
  }
  