.resume-heading {
    /* Add general styles for the resume heading */
    
  }

  
  .resume-heading-content-yesimg {
    display: grid;
    grid-template-columns: 120px auto;
    gap: 20px;
  }
  
 /* .resume-profile-image {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
  flex-basis: 48%;
  position: relative;
 }
 .resume-profile-image label{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
 }
 .resume-profile-image input{
  padding: 12px 9px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  background: transparent;
  color: #2c2c2c;
  width: 96%;
  height: 150px;
 }
 .resume-profile-image input:hover{
 border-color: var(--primary-color);
 } */
/* .dp {
  height: 100px;
  width: auto;
} */
.resume-profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.resume-profile-image label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume-profile-image input {
  display: none;
}

.resume-profile-image img {
  padding: 3px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}
.resume-profile-image img,
.empty-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.empty-profile-image {
  background-image: url('https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2220431045.jpg');
  background-size: cover;
  background-position: center;
}


.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.empty-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #777;
  border: 2px solid #ccc;
}

.resume-heading-content .heading-form .heading-form-main {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}

.resume-heading-content .heading-form .resume-input-field {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 5px;
  flex-basis: 49%;
  position: relative;
}



.resume-input-field select {
  height: 45px;
  width: 100%;
  padding: 0 10px;
  font-size: 17px;
  color: #8d8686;
  font-weight: 600;
  border: 1px solid #828080;
  border-radius: 5px;
}

.gender-container hr {
  width: 80% !;
}

.resume-heading-content .heading-form .resume-input-field label, .media-links label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-heading-content .heading-form .resume-input-field input::placeholder, .media-links input::placeholder {
  font-size: 0.8rem;
}

.resume-heading-content .heading-form .resume-input-field input, .media-links input {
  padding: 10px 9px;
  padding-top: 20px;
  outline: none;
  font-size: 0.9rem;
  font-weight: 550;
  border-radius: 5px;
  border: 1px solid #828080;
  background: transparent;
  color: #828080;
   
 
}
.resume-heading-content .heading-form .resume-input-field input:focus{
  border-bottom: 4px solid var(--primary-color);
}
.resume-heading-content .heading-form .heading-textarea textarea {
  height: 100px;
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: 12px 9px;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #a3a3a3;
  background: transparent;
  color: rgb(149, 143, 143);
}

.resume-heading-content .heading-form .resume-input-field hr, .media-links hr {
  /* height: 5px;
  width: calc(100% - 2px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  background-color: var(--primary-color);
  bottom: 0;
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.45s; */
  opacity: 0;
}

.resume-heading-content .heading-form .resume-input-field input:hover, .media-links input:hover {
  border-color: var(--primary-color);
}

.resume-heading-content .heading-form .resume-input-field .focused {
  border-color: var(--primary-color);
  opacity: 1;
}

.resume-heading-content .heading-form .heading-textarea {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.resume-heading-content .heading-form .heading-textarea .focused {
  border-color: var(--primary-color);
  opacity: 1;
}

.resume-heading-content .heading-form .heading-textarea hr {
  /* height: 5px;
  width: calc(97% + 10px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  background-color: var(--primary-color);
  bottom: 0; */
  opacity: 0;
}

.resume-heading-content .heading-form .heading-textarea label {
  font-size: 12px;
}

.add-more-education {
  margin-top: 40px;
}

.add-more-education button {
  font-size: 16px;
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.currently-here {
  /* Styles for 'Currently here' checkbox */
}

.resume-heading-content .heading-form .resume-input-field input[type="checkbox"] {
  width: 15px;
}

.hidden {
  display: none;
}

.required {
  color: red;
  font-size: 13px;
}

/* .address-section {
  margin-top: 10px;
}

.address-section div label {
  margin-top: 10px;
} */

.media-links {
  margin-top: 20px;
  flex: 1;
  max-width: 97.5%;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.media-links button {
  max-width: fit-content;
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.media-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.media-link .delete-btn-container {
  display: flex;
  justify-content: end;
}

.media-link label {
  padding-right: 10px;
}

.media-link-url {
  max-width: 500px;
}

.media-link-url-container label {
  display: block;
}

.media-link-url-container input {
  width: 87%;
}

.media-link-name-container label {
  display: block;
}



.input-container {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.input-container input {
  width: 100%;
  padding: 16px 16px 16px 16px;
  font-size: 15px;
  font-weight: 300;
  background-color: white;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.5s;
  margin-bottom: 20px;
}

.input-container input:focus {
  border-color: black;
}

.input-container input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.input-container label {
  position: absolute;
  left: 10px;
  top: 16px;
  background-color: transparent;
  padding: 0 2px;
  color: #858585;
  pointer-events: none;
  transition: all 0.5s;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 2px;
  left: 2px;
  margin-bottom: 3px;
  transform: scale(0.75);
  color: rgb(195, 195, 195);
}

.address-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
}

.address-section {
  width: 49%; /* Adjust width as necessary */
}

.address-section h3 {
  margin-bottom: 10px;
}
