@import "global";
.add-education {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    max-width: 600px;
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
    flex-basis: 48%;
    position: relative;

    label {
      font-size: 12px;
    }

    input[type="text"],
    input[type="date"],
    textarea {
      padding: 8px 5px;
      outline: none;
      border: 1px solid var(--secondary-color);
      background: transparent;
      color: #444;
      font-family: Arial, sans-serif;
      border-radius: 5px;

      &:hover {
        border-color: var(--primary-color);
      }
    }

    hr {
      height: 1px;
      width: calc(100% - 2px);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      position: absolute;
      background-color: var(--primary-color);
      bottom: 0px;
      opacity: 0;
      transform: translateY(0);
      transition: opacity 0.45s;
    }

    &--date-container {
      hr {
        bottom: 31px;
        width: calc(100% - 3px);
      }
    }

    .focused {
      border-color: var(--primary-color) !important;
      opacity: 1;
    }
  }

  &__required {
    color: red;
    font-size: 13px;
  }

  &__currently-here {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;

    input[type="checkbox"] {
      width: 15px;
    }
  }

  &__textarea {
    display: flex;
    flex-direction: column;
    gap: 7px;

    label {
      font-size: 12px;
    }

    textarea {
      height: 170px;
      width: 97%;
      resize: none;
      padding: 8px 5px;
      outline: none;
      border: 1px solid var(--secondary-color);
      background: transparent;
      font-family: Arial, sans-serif;
      border-radius: 5px;

      &:hover {
        border-color: var(--primary-color);
      }
    }

    hr {
      width: calc(93% - 3px);
      bottom: 106px;
      height: 1px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      position: absolute;
      background-color: var(--primary-color);
      opacity: 0;
      transform: translateY(0);
      transition: opacity 0.45s;
    }

    .focused {
      border-color: var(--primary-color) !important;
      opacity: 1;
    }
  }
}