@import "global";
.add-education {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    max-width: 600px;
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
    flex-basis: 48%;
    position: relative;

    label {
      font-size: 12px;
    }

    input[type="text"],
    input[type="date"],
    textarea {
      padding: 8px 5px;
      outline: none;
      border: 1px solid var(--secondary-color);
      background: transparent;
      color: #444;
      font-family: Arial, sans-serif;
      border-radius: 5px;
      border-bottom: 3px solid var(--secondary-color);
      transition: all .3s;
      outline: none;

      &:focus    {
        border-bottom: 3px solid $color-primary;
         
      }
      &:focus:invalid    {
        border-bottom: 3px solid $color-orange-invalid;
         
      }
    }
 
 
  }

  &__required {
    color: red;
    font-size: 13px;
  }

  &__currently-here {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;

    input[type="checkbox"] {
      width: 15px;
    }
  }

  &__textarea {
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-bottom: 3px solid var(--secondary-color);
    transition: all .3s;
    outline: none;
    label {
      font-size: 12px;
    }

    textarea {
      height: 170px;
      width: 97%;
      resize: none;
      padding: 8px 5px;
      outline: none;
      border: 1px solid var(--secondary-color);
      background: transparent;
      font-family: Arial, sans-serif;
      border-radius: 5px;

      &:hover {
        border-color: var(--primary-color);
      }
      &:focus    {
        border-bottom: 3px solid $color-primary;
         
      }
      &:focus:invalid    {
        border-bottom: 3px solid $color-orange-invalid;
         
      }
    }


 
  }
}