@import "global";

.preview-education {
    &__item {
        display: flex;
        justify-content: space-between;
        border: 1px solid gray;
        padding: 20px;
    }

    &__number {
        width: auto;

        &-text {
            font-size: 45px;
        }
    }

    &__content {
        width: 70%;
    }

    &__title {
        font-size: 15px;
    }

    &__institution {
        font-weight: 400;
        font-size: 15px;
    }

    &__details {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

    &__location,
    &__duration {
        font-size: 13px;
        color: var(--darker-secondary-color);
    }

    &__actions {
        width: auto;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__button {
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        line-height: 50px;
        text-align: center;

        svg {
            font-size: 20px;
            color: #fff;
        }

        &--delete {
            background: #ac381d;
        }

        &--edit {
            background: var(--primary-color);
        }
    }
}