.header {
  padding-bottom: 5px;
  font-size: large;
  font-weight: bold;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  position: relative;
  margin-bottom: 10px;
}

.job-title {
  font-size: large;
  font-weight: bold;
}

.label {
  font-weight: bold;
  font-size: medium;
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.minus-icon {
  /* cursor: pointer;
  position: absolute;
  color: red;
  top: 10px;
  right: 10px; */
}

.add-experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color); /* Background color */
  color: #FFFFFF; /* Text color */
}

.add-experience-text {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF; /* Text color */
}

.add-button {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  line-height: 30px;
}

.add-button:hover {
  background-color: #3498db57;
  color: #1c5e8a;
}

.no-experiences {
  padding-block: 10px;
  font-size: large;
  font-weight: bold;
  min-height: 26.3vh;
}

/* Add margin between comma-separated values */
.experience-details p:not(:last-child) {
  margin-bottom: 5px;
}

/* Style ul and li */
.experience-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* Style ul and li */
.experience-details ul {
  margin-top: 5px;
  padding-left: 20px;
}

.experience-details ul li {
  list-style-type: disc;
  margin-bottom: 5px;
}
