/* AddHobby.css */

.add-hobby-container {
  margin-bottom: 20px;
}

.add-hobby-label {
  font-weight: bold;
  font-size: 16px;
}

.add-hobby-input {
  margin-left: 10px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid var(--secondery-color);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.add-hobby-input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
