/* Hobbies.css */

.hobbies-content {
  margin-top: 20px;
}

.qualifications-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.qualifications-header svg {
  margin-right: 5px;
}

.hobbies-container {

}
.hobby-name{
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 10px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: bold;
  font-size: 16px;
}
.hobby-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  margin-bottom: 10px;
  margin-right: 10px;
}

.hobby-item p {
  margin: 0;
}



.minus-icon,
.edit-icon {
  /* cursor: pointer; */
  /* margin-left: 10px; */
}

.no-hobbies {
  padding-block: 10px;
  font-size: large;
  font-weight: bold;
}

.add-hobby {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.add-hobby p {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.add-hobby button {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  line-height: 30px;
}

.add-hobby button:hover {
  background-color: #3498db57;
  color: #1c5e8a;
}
