/* About Me CSS */
.user-profile-about-me {
  display: flex;
  flex-direction: column;
}

.user-profile-about-me h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.user-profile-about-me form {
  display: grid;
  gap: 20px;
}

.about-me-personal-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.about-me-personal-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-me-personal-header .about-me-personal-header-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-me-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-inputs label {
  color: #061421;
}

.about-me-inputs input {
  height: 45px;
  padding: 0 10px;
  font-size: 17px;
  border: 1px solid #80808057;
  border-radius: 5px;
}

.about-me-address {
  display: grid;
  gap: 20px;
}

.about-me-address h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.save-user-info-btn {
  background: var(--primary-color);
  color: #fff;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.save-user-info-btn:hover {
  background: #2980B9;
}

/* Added styles for first name and last name */
.first-name,
.last-name {

  margin-bottom: 10px; /* Adjust gap */
}

.swal-title {
  color: var(--primary-color);
}

.swal-text {
  color: var(--primary-color);
}
.swal-confirm-button{
  color: var(--primary-color);
}