/* User Profile CSS */
.user-profile-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .user-profile-content {
        grid-template-columns: 300px auto;
        padding: 0 75px;
    }
}

.userprofile-sidebar-sticky {
    width: 100%;
    position: sticky;
    top: 85px;
    left: 0;
}

.user-profile-sidebar-menu {
    padding: 20px 20px 20px 0;
    background: #fff;
    box-shadow: 11px -10px 13px -5px #3434340d;
}

.user-profile-sidebar-menu h2 {
    color: #061421;
    font-size: 20px;
    border-bottom: 1px solid #80808057;
    padding-bottom: 15px;
}

.user-profile-sidebar-menu ul {
    margin-top: 15px;
}

.user-profile-sidebar-menu ul li {
    list-style: none;
    margin-bottom: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border-radius: 5px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-profile-sidebar-menu ul li:hover {
    background-color: #3498db;
}

.user-profile-sidebar-menu ul li:hover svg {
    color: #fff;
}

.user-profile-sidebar-menu ul li:hover a {
    color: #fff;
}

.user-profile-sidebar-menu ul li svg {
    font-size: 22px;
    color: #061421;
}

.user-profile-sidebar-menu ul li a {
    text-decoration: none;
    color: #061421;
    width: 100%;
}

.user-profile-details {
    padding: 20px;
}

.active-sidebar-item {
    background-color: #3498db;
}

.user-profile-sidebar-menu ul li.active-sidebar-item svg {
    color: #fff;
}

.user-profile-sidebar-menu ul li.active-sidebar-item a {
    color: #fff;
}
