.company-item-content-skeleton {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f4f4f4;
  }
  
  .company-item-content-banner-skeleton {
    height: 150px; /* Adjust height as needed */
    background-color: #ccc;
    border-radius: 8px;
  }
  
  .company-item-content-main {
    margin-top: 16px;
  }
  
  .main-items {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .skeleton-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 16px;
  }
  
  .skeleton-title {
    width: 150px; /* Adjust width as needed */
    height: 20px;
    background-color: #ccc;
    margin-bottom: 4px;
  }
  
  .skeleton-verified {
    width: 100px; /* Adjust width as needed */
    height: 12px;
    background-color: #ccc;
  }
  
  .skeleton-category {
    width: 100px; /* Adjust width as needed */
    height: 16px;
    background-color: #ccc;
  }
  
  .skeleton-size {
    width: 80px; /* Adjust width as needed */
    height: 12px;
    background-color: #ccc;
  }
  
  .skeleton-description {
    width: 100%; /* Adjust width as needed */
    height: 40px;
    background-color: #ccc;
  }
  
  .company-item-content-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .skeleton-button {
    width: 100px;
    height: 40px;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
  }
  