name: Windows Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Debug
        run: |
         echo "${pwd}"
      - name: Install dependencies (Optional)
        run: |
          git pull origin
          docker compose down
          docker compose up -d  --build --remove-orphans

